:root {
  --primary-color: #00a8e8;
  --secondary-color: #007ea7;
  --primary-black-color: #003459;
}
@font-face {
  font-family: "Lobster";
  src: url(./assets/fonts/lobster/Lobster\ 1.4.otf);
}
@font-face {
  font-family: "VCR-OSD-MONO";
  src: url(./assets/fonts/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf)
    format("truetype");
}

@font-face {
  font-family: "04b_30";
  src: url(./assets/fonts/04b_30/04B_30__.TTF) format("truetype");
}

@font-face {
  font-family: "The_west_gate";
  src: url(./assets/fonts/the_west_gate/The\ West\ Gate.ttf) format("truetype");
}

@font-face {
  font-family: "Open_sans";
  src: url(./assets/fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
}

html {
  scroll-behavior: smooth;
  /* font-family: "Open_Sans"; */
}

html,
body,
#root {
  height: 100%;
}
html::-webkit-scrollbar {
  background-color: #ffffff;
  width: 13px;
}
html::-webkit-scrollbar-thumb {
  background: #00a8e8;
  border-radius: 0px 0px 4px 4px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#basic-navbar-nav {
  background-color: #00a8e8;
  border-radius: 0 0 20px 20px;
  text-align: center;
}
.titlenav {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.titlenav:hover {
  text-decoration: none;
  color: #003459;
}
.nav-custom {
  top: 0;
  background-color: #00a8e8;
  position: fixed;
  z-index: 200;
  width: 100%;
  box-shadow: 0px 1px 7px #003459;
  height: 60px;
}
.link-custom {
  margin-right: 15px;
  font-size: 16px;
  color: white;
  font-weight: 400;
  transition: all 0.3s ease 0s;
}
.active {
  font-weight: bold;
}
.btn-custom {
  background-color: #007ea7;
  color: white;
  font-weight: 500;
}
.btn-custom:hover {
  color: #00a8e8;
  background-color: white;
}
.cir {
  border-radius: 1000rem;
  background-color: #00a8e8;
  height: 50px;
  position: relative;
  left: -42px;
  width: 50px;
  z-index: 1;
}
.cir-centro {
  border-radius: 1000rem;
  z-index: 100;
  background-color: #ffffff;
  height: 30px;
  position: relative;
  left: 20%;
  top: 20%;
  width: 30px;
}
.eslogan {
  font-family: "Lobster";
  font-size: 4.5rem;
  white-space: nowrap;
  margin: 0 auto;
  overflow: hidden;
  animation: typing 4s steps(40, end);
}
.eslogan2 {
  font-family: "Lobster";
  font-size: 2.5rem;
  color: #ffffff;
  white-space: nowrap;
}
.eslogan-black {
  font-family: "Lobster";
  font-size: 3rem;
  color: #002531;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.pixel {
  font-family: "04b_30";
  letter-spacing: 0.2rem;
}
.diamond {
  font-family: "The_west_gate";
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}
.line-divider {
  height: 1px;
  background-color: #ccc;
  border: none;
}
.mision-vision-values {
  background-color: #003459;
}

.eslogan-sm {
  font-family: "Lobster";
  font-size: 3rem;
}
#conocenos,
#principal,
#contacto,
#desinger,
#productos {
  padding-top: 70px;
}
.arrowAnimate {
  animation-name: animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes animation {
  from {
    transform: translateY(-4px);
    opacity: 0;
  }
  to {
    transform: translateY(4px);
  }
}
.title-section {
  font-weight: bold;
  color: #003459;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.decoracion {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0;
  height: 0;
  border-left: 700px solid #00a8e8;
  border-top: 90px solid transparent;
  border-bottom: 0px solid transparent;
}
.card {
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.card-title,
.card-subtitle {
  color: #ffffff;
}
.card-title {
  font-size: 26px;
  font-weight: bold;
}
.card-body {
  background-color: #00a8e8;
  color: #ccc;
}
.card-body-float {
  padding: 15px;
  background-color: #00a8e8;
  border-radius: 20px 20px 20px 20px;
  z-index: 100;
  position: absolute;
  transition: all .23s ease;
  visibility: hidden;
  top: 0;
  left: 0;
  transform: translate(-100%);
}
.card-img-top {
  border-radius: 20px 20px;
}
.small {
  border-radius: 20px 20px 0px 0px;
}
.card:hover > .card-body-float {
  visibility: visible;
  transform: translateX(10%);
}
.team-img {
  position: relative;
  width: 100%;
  height: 50vh;
}
.team-name {
  font-weight: bold;
  color: #003459;
  text-align: center;
}
.team-position {
  font-weight: bold;
  color: #00171F;
  text-align: center;
}
.item {
  position: relative;
  padding-top: 20px;
  display: inline-block;
}
.diamond-pixel-badge {
  position: absolute;
  right: 20px;
  bottom: 0px;
  background: white;
  padding: 5px 10px;
  border-radius: 150px;
background: #ffffff;
box-shadow:  7px 7px 14px #bababa,
              -2px -2px 2px #ffffff;
  width: 20%;
  height: 20%;
}
.img-antonio {
  width: 100%;
  height: 38vh;
}
.form-contacto {
  background-color: #00507054;
  border-radius: 16px;
}
.decoration-form {
  background-color: #007ea7;
  height: 2.4rem;
  max-width: 18px;
  margin-right: 10px;
  border-radius: 0px 10px 10px 0px;
}
.decoration-info {
  background-color: #007ea7;
  height: 2.2rem;
  max-width: 20px;
  border-radius: 5px;
}

.form-group textarea {
  background-color: #00a8e8;
  color: white;
  border: none;
  height: 200px;
  max-height: 200px;
  min-height: 100px;
  transition: all 0.3s ease-in-out;
}
.form-group textarea:focus {
  background-color: #003459;
  color: #ffffff;
  border: none;
}
.form-group input {
  background-color: #00a8e8;
  color: #ffffff;
  border: none;
  transition: all 0.3s ease-in-out;
}

.form-group input:focus {
  background-color: #003459;
  color: #ffffff;
  font-weight: bold;
  border: none;
}

.form-group input::placeholder {
  color: #ffffff;
}
.form-group textarea::placeholder {
  color: #ffffff;
}

.btn-enviar {
  background-color: #00a8e8;
  color: #ffffff;
  width: 120px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.btn-enviar:hover {
  background-color: #003459;
  color: #ffffff;
}

.font-white {
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.text-bold {
  font-size: 17px;
  font-weight: bold;
}

.herramientas {
  background-color: white;
  color: #004a63;
  width: 50%;
  border-radius: 10px;
}

.bg-blue {
  background-color: #002531;
}

/* Grid */
.grid {
  display: grid;
  background: gray;
  grid-template-rows: repeat(30, 1fr);
  grid-template-columns: repeat(30, 1fr);
  width: 90%;
  height: 45vw;
  outline: 1px solid white;
}
.grid-colores {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(8, 1fr);
  width: 20vw;
  height: 15vw;
  outline: 2px dashed white;
}
.cell {
  background: white;
  cursor: pointer;
  margin: 0px;
  border-radius: 50%;
  transition: all 0.2s ease 0s;
}
.cell-color {
  outline: 1px solid gray;
  background: white;
  cursor: pointer;
  transition: all 0.3s linear;
}
.cell-color:hover {
  transform: scale(1.1);
}
.current-color {
  border-radius: .7rem;
  height: 50px;
  width: 50px;
  background: white;
  transition: all 0.2s ease 0s;
}
.re-captcha { 
  margin: 0px auto;
  text-align: center;
  width: 304px;
  margin-bottom: 10px;
}
.icon-nav path{
  color: #ffffff;
}
.icon-nav:hover path {
  color: #00171F;
}
.helper {
  border-radius: 10px;
  background-color: #ffffff;
  font-family: "Open_sans";
  font-weight: 600;
  transition: all ease 0.2s;
}