:root {
  --primary-color: #00a8e8;
  --secondary-color: #007ea7;
  --primary-black-color: #003459;
}
@font-face {
  font-family: "Lobster";
  src: url(./assets/fonts/lobster/Lobster\ 1.4.otf);
}
@font-face {
  font-family: "VCR-OSD-MONO";
  src: url(./assets/fonts/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf)
    format("truetype");
}

@font-face {
  font-family: "04b_30";
  src: url(./assets/fonts/04b_30/04B_30__.TTF) format("truetype");
}

@font-face {
  font-family: "The_west_gate";
  src: url(./assets/fonts/the_west_gate/The\ West\ Gate.ttf) format("truetype");
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
}
html::-webkit-scrollbar {
  background-color: #ffffff;
}
html::-webkit-scrollbar-thumb {
  background: #00a8e8;
  border-radius: 0px 0px 4px 4px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#basic-navbar-nav {
  background-color: #00a8e8;
  border-radius: 0 0 20px 20px;
  text-align: center;
}
.titlenav {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.titlenav:hover {
  text-decoration: none;
  color: #003459;
}
.nav-custom {
  top: 0;
  background-color: #00a8e8;
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 60px;
}
.link-custom {
  margin-right: 15px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  transition: all 0.3s ease 0s;
}
.link-custom:hover {
  font-weight: bold;
}
.link-custom:active {
  color: #ffffff;
  font-weight: bold;
}
.btn-custom {
  background-color: #007ea7;
  color: white;
  font-weight: 500;
}
.btn-custom:hover {
  color: #00a8e8;
  background-color: white;
}
.cir {
  border-radius: 1000rem;
  background-color: #00a8e8;
  height: 50px;
  position: relative;
  left: -42px;
  width: 50px;
  z-index: 1;
}
.cir-centro {
  border-radius: 1000rem;
  z-index: 100;
  background-color: #ffffff;
  height: 30px;
  position: relative;
  left: 20%;
  top: 20%;
  width: 30px;
}
.eslogan {
  font-family: "Lobster";
  font-size: 4.5rem;
  white-space: nowrap;
  margin: 0 auto;
  overflow: hidden;
  animation: typing 4s steps(40, end);
}
@keyframes typing {
  from { width: 0;}
  to {width: 100%;}
}
.pixel {
  font-family: "04b_30";
  letter-spacing: 0.2rem;
}

.diamond {
  font-family: "The_west_gate";
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}
.eslogan-sm {
  font-family: "Lobster";
  font-size: 3rem;
}
#conocenos,
#principal,
#contacto,
#desinger,
#productos {
  padding-top: 70px;
}
.arrowAnimate {
  animation-name: animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


@keyframes animation {
  from {
    transform: translateY(-4px);
    opacity: 0;
  }
  to {
    transform: translateY(4px);
  }
}
.title-section {
  font-weight: bold;
  color: #003459;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.decoracion {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0; 
  height: 0; 
  border-left: 500px solid #003459;
  border-top: 100px solid transparent;
  border-bottom: 0px solid transparent;
}
.card {
  border: none;
  cursor: pointer;
}
.card-title, .card-subtitle {
  color: #ffffff;
}
.card-title {
  font-size: 26px;
  font-weight: bold;
}
.card-body {
  background-color: #00a8e8;
  border-radius: 20px 20px 0 0;
  z-index: 100;
  position: relative;
}
.card-img-top {
  position: relative;
  top: 30px;
  border-radius: 20px 20px;
}